    /* main */

    main{
        width: 100%;
        padding: 24px 20px 20px 20px;

    }
    main .title{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    main .bredcrumbs{
        display: flex;
        grid-gap: 6px;
        
    }
    main .bredcrumbs li,
    main .bredcrumbs li a{
        font-size: 14px;

    }
    main .bredcrumbs li a{
        color: var(--blue);
    }
    main .bredcrumbs li a.active,
    main .bredcrumbs li a.divider {
        color: var(--dark-grey);
        pointer-events: none;
    }
    main .info-data{
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-gap: 20px;
    }
    main .info-data .card{
        padding: 20px;
        border-radius: 10px;
        background: var(--light);
        box-shadow: 4px 4px 16px rgba(0,0,0,.02);
    }
    main .card .head{
        display: flex;
        justify-content:space-between ;
        align-items: flex-start ;
    }
    main .card .head h2{
        font-size: 24px;
        font-weight: 600;
    }
    main .card .head p{
        font-size: 14px;
    }
    main .card .head .icon{
        font-size: 20px;
        color: var(--green);
    }
    main .card .head .nicon{
        height: 70px;
        width: 80px;
        padding-left: 10px;
        /* top: 8px; */
    }
    


    /* Input feilds */
    #boxx{
        height: 900px;
        width: 100%;
        background: var(--light);
        border-radius: 10px;
        margin-top: 18px;
        box-shadow: 4px 4px 16px rgba(0,0,0,.1);
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* background-color: lightpink; */
    }
    .container{
        max-width: 95%;
        width: 100%;
        height: 750px;
        /* background:var(--grey); */
        padding: 25px 30px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .logindet{
        height: 30px;
        width: 100%;
        /* background-color: #81D434; */
        margin-bottom: 15px;
    }
    .container form .user-details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: calc(100% / 3 - 20px);
    }
    .user-details .input-box .details{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .user-details .input-box input,select{
        height: 45px;
        width: 100%;
        font-size: 16pxs;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        border-bottom-width: 2px ;
        transition: all 0.3s ease;
    }
    .user-details .input-box input:focus,
    .user-details .input-box input:valid{
        border-color:var(--light-blue);
    }
    form .button{
        height: 45px;
        margin: 45px 0;
    }
    form .button input{
        height: 100%;
        width: 100px;
        outline: none;
        color: var(--dark);
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        background: #236fd3;
        cursor: pointer;
    }
    /* Input feilds */
    /* main */
    .attendance{
        height: 600px;
        width: 100%;
        background: var(--light);
        border-radius: 10px;
        margin-top: 18px;
        box-shadow: 4px 4px 16px rgba(0,0,0,.1);
        /* overflow-y: auto; */

    }
    .prolist{
        height: 40px;
        width: 100%;
        margin-top: 20px;
    }
    .prolist h2{
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
    }
    .table{
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 20px;
        min-width: 100%;
        /* overflow: hidden; */
        border-radius: 5px 5px 0 0;
        /* overflow-y: auto; */
        
    }
    .table thead tr{
        color:black;
        background:var(--light);
        text-align: left;
        font-weight: bold;

    }
    .table th,
    .table td{
        padding: 12px 15px;
    }
    .table tbody tr{
        border-bottom: 1px solid #ddd;

    }
    .table tbody tr:nth-of-type(even){
        background: #f3f3f3;
    }
    .table tbody tr.active{
        font-weight: bold;
        color: #1775F1;
    }
    .table tbody tr:last-of-type{
        border-bottom: 2px solid white;
    }
    .table tbody tr:hover{
        background: var(--grey);
        cursor: pointer;
    }
    td img{
        width:36px;
        height: 36px;
        margin-right: .5rem;
        border-radius: 50%;
        vertical-align: middle;
    }
    .btn{
        height: 25px;
        width: 80px;
        outline: none;
        color: white;
        border: 2px #008CBA solid;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        background: #008CBA ;
        cursor: pointer;
    }
    .btn:hover{
        background-color: white;
        color: black;
    }
    /* <table */
    /* main */
/* ------------------All Professors CSS ---------------------*/
 /* Content */

